header {
	background-color: black;
	height: 50px;
}

#myInitials {	
	color: white;
	font-size: 50px;
	vertical-align: center;
}

nav {
	float: right;
	line-height: 30px;

	
}
nav li {
	display: inline-block;
	margin-left: 1.5em;
}

nav li a {
	color: white;
}

#imgPortfolio {
	padding-top: 50px;
}
#imgPortfolio img {
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	width: 30%;
}